@model IEnumerable<TourAgency.Models.Tour>
@using TourAgency.Controllers

<p>
    @Html.ActionLink("Добавить тур", "Create")
    @using (Html.BeginForm())
    {
        <p>
            Название тура:  @Html.TextBox("OneTourName")   <input type="submit" value="Найти тур" />
        </p>
    }

</p>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.IdTour }) |
            @Html.ActionLink("Просмотреть", "Details", new { id = item.IdTour }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.IdTour })
                @if ((item.startDate - DateTime.Now) > (DateTime.Now.AddDays(5)-DateTime.Now))
                {
                    @Html.ActionLink("Забронировать билет", "CreateBron", "Contract", new { id = item.IdTour }, null)
                    @Html.ActionLink("Купить билет", "CreateBought", "Contract", new { id = item.IdTour }, null)
                }
            </td>
        </tr>
        
    }

</table>
